@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>Rato Pela was founded in 2018 by our founder and CEO Lerato Morapela. since then its been a whirlwind, we've tapped into the 
    luxury handbag market to bring African Luxury to the world.</p>

